@using Bug_Tracker.ViewModels
@model userViewModel
@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_MainLayoutPartialView.cshtml";
}

<link rel="stylesheet" href="~/Content/CSS/UserProfile.css" />


<h3>Ažuriraj Korisnika: @Model.username</h3>


<!-- this is the markup. you can change the details (your own name, your own avatar etc.) but don’t change the basic structure! -->

@using (Html.BeginForm("EditUser", "Admin", FormMethod.Post, new { id = "submit" }))
{

<aside class="profile-cardUser">
    <div class="mask-shadowUser" ></div>
    <header>

        <!-- here’s the avatar -->
        <a>
            <img src=@Model.Avatar>
        </a>

        <!-- the username -->
        <h1>@Model.username</h1>

        <!-- and role or location -->
        <h2>@Model.UlogaNaziv</h2>

    </header>

    <!-- bit of a bio; who are you? -->
    <div class="column">

        <div class="form-group">
            @Html.LabelFor(m => m.username)
            @Html.TextBoxFor(m => m.username, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.lozinka)
            @Html.TextBoxFor(m => m.lozinka, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.email)
            @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
        </div>

    </div>

    <div class="column">
        <div class="form-group">
            @Html.LabelFor(m => m.ulogaID)
            @Html.DropDownListFor(m => m.ulogaID, new SelectList(Model.roles, "UlogaID", "UlogaNaziv"), Model.UlogaNaziv, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.timID)
            @Html.DropDownListFor(m => m.timID, new SelectList(Model.teams, "timID", "nazivTim"), Model.nazivTim, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Avatar)
            @Html.TextBoxFor(m => m.Avatar, new { @class = "form-control", @id = "notAvatar" })
        </div>

    </div>

    <div>
        <button type="submit" class="submitButton">Ažuriraj</button>
    </div>

    <div >
        <a href="@Url.Action("ManageUsers", "User",new { id = Bug_Tracker.Models.DapperORM.getUsername() })">
            <div class="backLink">
                Natrag na listu korisnika
            </div>
        </a>
    </div>

</aside>
    <!-- that’s all folks! -->

<div style="opacity:0">
    @Html.LabelFor(m => m.korisnikID)
    @Html.TextBoxFor(m => m.korisnikID, new { @class = "form-control", @id = "notAvatar" })

  
</div>

}
