@using Bug_Tracker.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <link rel="stylesheet" href="~/Content/CSS/SideBar.css" />
    <link rel="stylesheet" href="~/Content/CSS/SearchBar.css" />

    <!-- Ticket -->
    <link rel="stylesheet" href="~/Content/TicketCard/Ticket.css" />
    <link rel="stylesheet" href="~/Content/CSS/Table/table.css" />

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">




</head>
<body>
    @{ string userName = DapperORM.getUsername();} 
    <!-- TO get GitHub avatar just apend .png to the profile link.--> 
    <div id="viewport">
        <!-- Sidebar -->
        <div id="sidebar">
            <header>
                <div>
                    <a href="#">Bug Tracker</a>
                </div>

            </header>

            <div>
                <img src="https://github.com/Jakov-Trstenjak.png" alt="Avatar" id="Avatar" >
            </div>

            <ul class="nav">


                <li>
                    <a href="@Url.Action("Dashboard", "User",new { id = userName })">
                        <i class="fa fa-dashboard"></i> Dashboard
                    </a>
                </li>


                <li>
                    <a href="@Url.Action("ReportABug", "User",new {  id = userName })">
                        <i class="fa fa-bug"></i> Report a Bug
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("MyTickets", "User",new {  id = userName })">
                        <i class="fa fa-ticket"></i> My Tickets
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Assignments", "User",new {  id = userName })">
                        <i class="fas fa-tasks"></i> Assignments
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("MyTeam", "User",new {  id = userName })">
                        <i class="fa fa-users"></i> My Team
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("UserProfile", "User",new {  id = userName})">
                        <i class="fas fa-user-cog"></i> User Profile
                    </a>
                </li>

                <li class="SignOut" id="removeLine" >
                   
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()

                        <a href="javascript:document.getElementById('logoutForm').submit()" id="signOut">
                            <i class="fa fa-power-off" id="faSignOut"></i>Sign Out
                        </a>

                    }

                </li>


             </ul>
        </div>
        <!-- Content -->
        <div id="content">
            <nav class="navbar navbar-default" style="background-color:#eceff1">
                <div class="container-fluid" >
                    <ul class="nav navbar-nav navbar-right">

                        <li>
                            <form method="get" action="/search" id="search">
                                <input name="q" type="text" size="40" placeholder="Search..." />
                            </form>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-bell" style="font-size:20px" > </i>
                            </a>
                        </li>
                        <li id="HelloUser">
                            @Html.ActionLink("Hello " + DapperORM.getUsername() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </li>



                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                <div class="container body-content" id="bodyContent">
                    @RenderBody()
                    <hr />
                </div>
            </div>
        </div>
    </div>
   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
