@using Bug_Tracker.ViewModels
@model List<MyTicketViewModel>

@{
    ViewBag.Title = "MyTickets";
    Layout = "~/Views/Shared/_MainLayoutPartialView.cshtml";
}


@if (Model != null)
{
    var counter = 0; // count to display only 3 tickets as cards, other tickets will be displayed as a table.

    <h3>Posljednji listići</h3>
    if (Model.Count == 0)
    {
        <p>Još niste napisali niti jedan listić.</p>
    }

    foreach (var item in Model)
    {
        if (counter < 3)
        {
            counter++;
            string[] date = item.datum.Split(' ');

            <ul id="row">
                <li id="cardLink">
                    <a href="@Url.Action("TicketDetails", "MyTickets",new { id = item.listićID})">
                        <div class="card">
                            <div class="card-text">
                                <span class="date">
                                    <h2>@item.listićIme</h2>
                                    <p>@item.opisPogreška</p>
                            </div>
                            <div class="card-stats">
                                <div class="stat">
                                    <div class="value">Listić ID</div>
                                    <div class="type" id="type">@item.listićID</div>
                                </div>
                                <div class="stat border">
                                    <div class="value">Prioritet</div>
                                    <div class="type" id="type">@item.nazivPrioritet</div>
                                </div>
                                <div class="stat">
                                    <div class="value">Datum</div>
                                    <div class="type" id="type">@date[0]</div>
                                </div>
                            </div>
                        </div>
                    </a>
                   
                </li>
            </ul>
        }

    }


    <h3>Svi moji listići</h3>

<div>
    <table id="myTable">
        <tr id="headerOfTable">
            <th>LISTIĆ ID</th>
            <th>NAZIV</th>
            <th>PRIORITET</th>
            <th>DATUM STVARANJA</th>
            <th>PROJEKT</th>
        </tr>
        @foreach (var item in Model)
        {

            <tr>
                <td>@item.listićID</td>
                <td>@item.listićIme</td>
                <td>@item.nazivPrioritet</td>
                <td>@item.datum</td>
                <td>@item.nazivProjekta</td>
                <td>
                    <a href="@Url.Action("TicketDetails", "MyTickets",new { id = item.listićID })">
                        <div>
                            Više detalja
                        </div>
                    </a>
                </td>
                </tr>
        }
    </table>
</div>
    


}




