@using Bug_Tracker.ViewModels
@model List<MyTicketViewModel>

@{
    ViewBag.Title = "MyTickets";
    Layout = "~/Views/Shared/_MainLayoutPartialView.cshtml";
}


@if (Model != null)
{
    var counter = 0; // count to display only 3 tickets as cards, other tickets will be displayed as a table.

    <h3>My Latest Tickets</h3>
    foreach (var item in Model)
    {
        if (counter < 3)
        {
            counter++;
            string[] date = item.datum.Split(' ');

            <ul id="row">
                <li id="cardLink">
                    <a href="@Url.Action("Edit", "MyTickets",new { id = item.listićID })">
                        <div class="card">
                            <div class="card-text">
                                <span class="date">
                                    <h2>@item.listićIme</h2>
                                    <p>@item.opisPogreška</p>
                            </div>
                            <div class="card-stats">
                                <div class="stat">
                                    <div class="value">Ticket ID</div>
                                    <div class="type" id="type">@item.listićID</div>
                                </div>
                                <div class="stat border">
                                    <div class="value">Priority</div>
                                    <div class="type" id="type">@item.nazivPrioritet</div>
                                </div>
                                <div class="stat">
                                    <div class="value">Date</div>
                                    <div class="type" id="type">@date[0]</div>
                                </div>
                            </div>
                        </div>
                    </a>
                   
                </li>
            </ul>
        }

    }


    <h3>All My Tickets</h3>

<div>
    <table id="myTable">
        <tr>
            <th>Ticket ID</th>
            <th>Title</th>
            <th>Submitter</th>
            <th>Created</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.listićID</td>
                <td>@item.listićIme</td>
                <td>@item.Username</td>
                <td>@item.datum</td>
                <td>
                    <a href="@Url.Action("Edit", "MyTickets",new { id = item.listićID })">
                        <div>
                            Edit Ticket
                        </div>
                    </a>
                </td>
                </tr>
        }
    </table>
</div>
    


}




