@using Bug_Tracker.ViewModels
@model TicketViewModel
@{
    ViewBag.Title = "ReportABug";
    Layout = "~/Views/Shared/_MainLayoutPartialView.cshtml";
}

<h2>Report A Bug</h2>


@using (Html.BeginForm("CreateTicket", "User", FormMethod.Post, new { id = "submit" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Ticket.TicketTitle)
        @Html.TextBoxFor(m => m.Ticket.TicketTitle, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Ticket.TicketTitle)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Ticket.Bug.Description)
        @Html.TextAreaFor(m => m.Ticket.Bug.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Ticket.Bug.Description)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Ticket.Bug.PriorityID)
        @Html.DropDownListFor(m => m.Ticket.Bug.PriorityID, new SelectList(Model.Priorities, "PriorityID", "PriorityName"), "Odaberi Prioritet", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Ticket.Bug.PriorityID)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Ticket.projektID)
        @Html.DropDownListFor(m => m.Ticket.projektID, new SelectList(Model.Projects, "projektID", "nazivProjekta"), "Odaberi Projekt", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Ticket.projektID)
    </div>


    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

}

