@using Bug_Tracker.ViewModels
@model List<MyTicketViewModel>
@using Bug_Tracker.Models

@{
    ViewBag.Title = "allTicketsForProject";
    Layout = "~/Views/Shared/_MainLayoutPartialView.cshtml";
}

<link rel="stylesheet" href="~/Content/CSS/Assignments.css" />

@{
    var isAdminOrManager = (DapperORM.checkIfAdminOrManager(DapperORM.getUsername()));
}

<div>
    <table id="myTable">
        <tr id="headerOfTable">
            <th>ID</th>
            <th>NAZIV</th>
            <th>PRIORITET</th>
            <th>DATUM STVARANJA</th>
            <th>PROJEKT</th>
        </tr>
        @foreach (var item in Model)
        {

            <tr>
                <td>@item.listićID</td>
                <td>@item.listićIme</td>
                <td>@item.nazivPrioritet</td>
                <td>@item.datum</td>
                <td>@item.nazivProjekta</td>
                <td>
                    <a href="@Url.Action("TicketDetails", "MyTickets",new { id = item.listićID })">
                        <div>
                            Više detalja
                        </div>
                    </a>
                </td>

                @{ if (isAdminOrManager)
                    {
                        <td>
                            <a href="@Url.Action("assignTicketToTeam", "Assignments",new { id = item.listićID})">
                                <i class="fas fa-plus-circle"></i>


                            </a>
                        </td>
                    }

                }
            </tr>
        }

    </table>
</div>



}
