@using Bug_Tracker.ViewModels
@model List<MyTicketViewModel>

@{
    ViewBag.Title = "allTicketsForProject";
    Layout = "~/Views/Shared/_MainLayoutPartialView.cshtml";
}

<h3> Listići Projekta: @Model.First().nazivProjekta</h3>



<div>
    <table id="myTable">
        <tr id="headerOfTable">
            <th>ID</th>
            <th>NAZIV</th>
            <th>PRIORITET</th>
            <th>DATUM STVARANJA</th>
            <th>PROJEKT</th>
            <th>STATUS</th>
        </tr>
        @foreach (var item in Model)
        {

            <tr>
                <td>@item.listićID</td>
                <td>@item.listićIme</td>
                <td>@item.nazivPrioritet</td>
                <td>@item.datum</td>
                <td>@item.nazivProjekta</td>
                <td>@item.statusName</td>
                <td>
                    <a href="@Url.Action("TicketDetails", "MyTickets",new { id = item.listićID })">
                        <div>
                            Više detalja
                        </div>
                    </a>
                </td>
            </tr>
        }
    </table>
</div>



}
