@using Bug_Tracker.ViewModels
@model MyTicketViewModel

@{
    ViewBag.Title = "ViewTicket";
    Layout = "~/Views/MyTickets/MyTicketsPartialView.cshtml";
}



    <div class="row">
        <div class="header">
            <div class="text">
                TICKET DETAILS FOR TICKET #@Model.listićID
            </div>
        </div>
        
        <div class="leftColumn" id="left">
            <div class="name">TICKET TITLE</div>
            <div class="value"> @Model.listićIme</div>
            <div class="name">PRIORITET </div>
            <div class="value"> @Model.nazivPrioritet</div>
            <div class="name"><i class="fa fa-address-card-o"></i>DESCRIPTION</div>
            <div class="value">@Model.opisPogreška</div>
        </div>

        <div class="rightColumn" id="right">

            <div class="name">SUBMITTER</div>
            <div class="value">@Model.Username</div>
            <div class="name">DATE</div>
            <div class="value">@Model.datum</div>
            <div class="name">PROJECT NAME</div>
            <div class="value">@Model.nazivProjekta</div>
        </div>

        <div >
            <img src="https://i.stack.imgur.com/5XiRF.png"
                 alt="IMAGE"
                 class="slika"
              />
        </div>
        
    </div>